.header {
    display: flex;
    flex: 1;
    padding: 8px;
    align-items: center;
    justify-content: space-between;
}

.left-side-header {
    display: flex;
    flex: 1;
    padding-right: 30px;
}

.menu-option-icon {
    margin: 0px 4px;
    padding: 12px;
    _vertical-align: middle;
}

.menu-option-icon:hover {
    background-color: #f1f3f4;
    border-radius: 50%;
    cursor: pointer;
}

.contact-logo {
    font-size: 22px;
    font-weight: 400;
    display: flex;
    align-items: center;
    font-family: Roboto, RobotoDraft, Arial, sans-serif;
    color: rgb(121, 120, 120);
}

.contact-logo > img {
    margin: 5px;
}

.middle-header {
    display: flex;
    flex: 2 1 0%;
    align-items: center;
    height: 45px;
    padding-right: 80px;
}

.search-option-icon {
    background: #f1f3f4;
    border-radius: 8px;
    width: 100%;
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.search-option-icon > img {
    padding: 11px;
    margin: 0px 10px;
}

.search-option-icon > input {
    border: none;
    border-radius: 8px;
    background:  #f1f3f4;
    font-size: large;
    padding: 12px;
    width: 100%;
}

.search-option-icon:focus-within {
    outline: none;
    background: white;
    box-shadow: 2px 2px 4px rgb(0,0,0,0.2);
    border: 1px solid #3783ee;
}

.search-option-icon>input:focus {
    outline: none;
    background: white;
}

.right-side-header {
    display: flex;
    flex: 0 1 0%;
    align-items: center;
}

.help-option-icon {
    padding: 10px;
}
.help-option-icon:hover {
    background-color: #f1f3f4;
    border-radius: 50%;
    cursor: pointer;
}

.setting-option-icon {
    padding: 10px;
}
.setting-option-icon:hover {
    background-color: #f1f3f4;
    border-radius: 50%;
    cursor: pointer;
}

.google-apps-option-icon {
    padding: 10px;
    margin-left: 40px;
}
.google-apps-option-icon:hover {
    background-color: #f1f3f4;
    border-radius: 10px;
    cursor: pointer;
}

.google-app-overlay {
    position: absolute;
    top: 62px;
    right: 0;
    border-radius: 8px;
    box-shadow: 2px 2px 5px 2px rgba(0,0,0,0.2);
    _height: calc(100vh - 450px);
    height: 500px;
    width: 300px;
    z-index: 5;

    display: flex;
    flex-wrap: wrap;
    overflow: scroll;
    justify-content: center;
}

.google-app-overlay-display {
    display: none;
}

.gApps-icon {
    padding: 10px;
    margin: 10px;
}

.gApps-icon:hover {
    cursor: pointer;
    background-color: #e8f0fe;
    border-radius: 8px;
}

.gApps-icon > img { 
    width: 50px;
    height: 50px;
}

.gApps-horizontal-line {
    width: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.account-info {
    display: flex;
    align-items: center;
    padding: 0 8px;
    margin-left: 10px;
    border: 1px solid rgb(141, 141, 141);
    border-radius: 8px;
}

.account-info:hover {
    border: 2px solid #3783ee;
    cursor: pointer;
}

.account-info > span {
    background-color: darkblue;
    color: white;
    font-size: medium;
    padding: 8px 9px;
    margin: 5px 0 5px 5px;
    border-radius: 50%;
}

@media screen and (max-width: 900px) {
    .contact-logo > img {
        display: none;
    }

    .search-option-icon {
        position: relative;
    }

    .search-option-icon > input{
        position: fixed;
        left: 55px;
        width: calc(100vw - 430px);
    }

    .search-option-icon > img {
        cursor: pointer;
    }

    .middle-header {
        flex: 0 1 0%;
        padding-right: 0px;
    }

    .help-option-icon {
        padding: 0 10px;
    }

    .help-option-icon > img {
        width: 20px;
        height: 20px;
    }
    
    .setting-option-icon {
        padding: 0 10px;
    }

    .setting-option-icon > img {
        width: 20px;
        height: 20px;
    }
    
    .google-apps-option-icon {
        padding: 0 10px;
    }

    .google-apps-option-icon > img {
        width: 20px;
        height: 20px;
    }

    .account-info > img {
        width: 65px;
        height: 30px;
    }

    .account-info > span {
        font-size: small;
        padding: 5px 6px;
        margin: 5px 0 5px 5px;
        border-radius: 50%;
    }
}

@media screen and (max-height: 560px) {
    
    .google-app-overlay {
        height: calc(100vh - 70px);
    }
}