body {
    margin: 0px;
    font-family: Roboto, RobotoDraft, Arial, sans-serif ;
    overflow-x: hidden;
}

.main {
    display: flex;
    flex-direction: column;
    _justify-content: center;
}

.header {
    display: flex;
    flex: 1;
    padding: 8px;
    align-items: center;
    justify-content: space-between;
}

.left-side-header {
    display: flex;
    flex: 1;
    padding-right: 30px;
}

.menu-option-icon {
    margin: 0px 4px;
    padding: 12px;
    vertical-align: middle;
}

.menu-option-icon:hover {
    background-color: #f1f3f4;
    border-radius: 50%;
    cursor: pointer;
}

.contact-logo {
    font-size: 22px;
    font-weight: 400;
    display: flex;
    align-items: center;
    font-family: Roboto, RobotoDraft, Arial, sans-serif;
    color: rgb(121, 120, 120);
}

.contact-logo > img {
    margin: 5px;
}

.middle-header {
    display: flex;
    flex: 2 1 0%;
    align-items: center;
    height: 45px;
    padding-right: 80px;
}

.search-option-icon {
    background: #f1f3f4;
    border-radius: 8px;
    width: 100%;
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.search-option-icon > img {
    padding: 11px;
    margin: 0px 10px;
}

.search-option-icon > input {
    border: none;
    border-radius: 8px;
    background:  #f1f3f4;
    font-size: large;
    padding: 12px;
    width: 100%;
}

.search-option-icon:focus-within {
    outline: none;
    background: white;
    box-shadow: 2px 2px 2px rgb(131, 131, 131);
}

.search-option-icon>input:focus {
    outline: none;
    background: white;
}

.right-side-header {
    display: flex;
    flex: 0 1 0%;
    align-items: center;
}

.right-side-header > div > img,span {
    cursor: pointer;
}

.help-option-icon {
    padding: 0 12px;
}

.setting-option-icon {
    padding: 0 12px;
}

.google-apps-option-icon {
    padding: 0 12px 0 50px;
}
.account-info {
    display: flex;
    align-items: center;
    padding: 0 8px;
    margin-left: 10px;
    border: 1px solid rgb(141, 141, 141);
    border-radius: 8px;
}

.account-info > span {
    background-color: darkblue;
    color: white;
    font-size: medium;
    padding: 8px 9px;
    margin: 5px 0 5px 5px;
    border-radius: 50%;
}

.option-menu {
    _border: 1px solid red;
    _transform: translateX(0);
    _transition: transform 0.5s linear, visibility 1s ease-in;
    width: 300px;
    position: relative;
    box-shadow: 2px 0 0px rgb(231, 230, 230);
    overflow: scroll;
}

.create-button-div {
    top: 0;
    z-index: 2;
    background-color: white;
    padding: 20px 20px 20px 10px;
    position: sticky;
    box-shadow: 0px 2px 2px rgb(207, 207, 207);
}

.create-button-div > button {
    text-align: center;
    background-color: white;
    border: none;
    border-radius: 20px;
    padding: 10px 25px 10px 15px;
    cursor: pointer;
    box-shadow: 1px 1px 5px 2px rgb(207, 207, 207);
    display: flex;
    align-items: center;
}

.create-button-div > button:hover {
    background-color: #e8f0fe;
    color: #3783ee;
}

.create-button-div > button > span {
    font-size: 15px;
    color:  black;
}

.option-div {
    border-radius: 0 25px 25px 0;
}

.option-link {
    line-height: 1.25rem;
    padding: 10px 26px;
    vertical-align: middle;
    _font-size: 1rem;
    font-weight: 500;
    text-decoration: none;
    display: flex;
    color: black;
}

.option-link:visited {
    color: black;
}

.option-link:hover {
    background: #f1f3f4;
    border-radius: 0 25px 25px 0;
}

.option-link > img {
    margin: 0 10px;
}

.option-link > span {
    margin: 0 10px;
    color: inherit;
}

.active-option, .active-option:hover {
    color: #3783ee;
    background: #e8f0fe;
    border-radius: 0 25px 25px 0;
}

.horizontal-line {
    border-bottom: 1px solid rgba(0,0,0,0.12);
    margin: 5px 0;
}

.main-body {
    _flex-wrap: wrap;
    height: calc(100vh - 64px);
    bottom: 0;
    display: flex;
    position: relative;
    _overflow: scroll;
}

.contact-display {
    _height: calc(100vh - 62px);
    display: flex;
    flex: 1;
    flex-direction: column;
    _justify-content: center;
    align-items: center;
}

.display-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: calc(100vh - 750px) 50px 50px 50px;
}

.image-open-book {
    padding: 40px;
    border-radius: 50%;
    background-color: #f1f3f4;
}

.contact-info {
   margin: 20px;
   font-size: larger;
   color: rgb(88, 88, 88);
}

.link-contacts > a{
    margin: 20px;
    text-decoration: none;
}

@media screen and (max-width: 1200px) {
    .option-menu {
        display: none;
    }
}

@media screen and (max-width: 900px) {
    .contact-logo > img {
        display: none;
    }

    .search-option-icon {
        position: relative;
    }

    .search-option-icon > input{
        position: fixed;
        left: 55px;
        width: calc(100vw - 390px);
    }

    .search-option-icon > img {
        cursor: pointer;
    }

    .middle-header {
        flex: 0 1 0%;
        padding-right: 0px;
    }

    .help-option-icon {
        padding: 0 10px;
    }

    .help-option-icon > img {
        width: 20px;
        height: 20px;
    }
    
    .setting-option-icon {
        padding: 0 10px;
    }

    .setting-option-icon > img {
        width: 20px;
        height: 20px;
    }
    
    .google-apps-option-icon {
        padding: 0 10px;
    }

    .google-apps-option-icon > img {
        width: 20px;
        height: 20px;
    }

    .account-info > img {
        width: 65px;
        height: 30px;
    }

    .account-info > span {
        font-size: small;
        padding: 5px 6px;
        margin: 5px 0 5px 5px;
        border-radius: 50%;
    }

    .option-menu {
        position: absolute;
        background: white;
    }
}

@media screen and (max-height: 450px) {
    
    .image-open-book {
        padding: 20px;
    }

    .image-open-book > img {
        width: 100px;
        height: 100px;
    }
    
}