body {
    margin: 0px;
    font-family: Roboto, RobotoDraft, Arial, sans-serif ;
    overflow: hidden;
    box-sizing: border-box;
}

.main {
    display: flex;
    flex-direction: column;
    _justify-content: center;
}

.main-body {
    _flex-wrap: wrap;
    height: calc(100vh - 64px);
    bottom: 0;
    display: flex;
    position: relative;
    _overflow: scroll;
}

.contact-display {
    _height: calc(100vh - 62px);
    display: flex;
    flex: 1;
    flex-direction: column;
    _justify-content: center;
    align-items: center;
}

.display-body {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 0 62px 0;
}

.image-open-book {
    padding: 40px;
    border-radius: 50%;
    background-color: #f1f3f4;
}

.contact-info {
   margin: 20px;
   font-size: larger;
   color: rgb(88, 88, 88);
}

.link-contacts > a{
    margin: 20px;
    text-decoration: none;
}